@import "../../styles/colors.scss";

.datetime-input {
  display: flex;
  flex-direction: column;
  align-items: start;

  gap: 8px;

  label {
    font-weight: normal;
    color: $offBlack;
    font-size: 14px;
  }

  > input {
    width: 45.5%;
    border: 1px solid $borderColor;
    height: 40px;
    border-radius: 4px;
    padding: 4px 6px;

    background-color: $white;
    color: $offBlack;

    outline: none;
    font-size: 14px;

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0px 0px 3px -1px $offBlack;
    }
  }

  &__error-message {
    color: $invalid;
  }
}
