$white: #fff;
$black: #000;
$offBlack: #4e4e4e;
$background: #f2f2f2;
$whiteSmoke: #f5f5f5;
$primary: #00a896;
$text: #1a2c3e;
$borderColor: #ced4da;
$disabledBackground: #ccc;
$disabledColor: #666;
$valid: #4caf50;
$invalid: #ef5350;
$warning: #f9d62a;
$warningLight: rgba($warning, 0.7);
