@import "../../styles/colors.scss";

@media screen and (max-width: 601px) {
  .navbar.navbar {
    .navbar__logo {
      margin-left: 0;

      img {
        height: 32px;
        width: 32px;
      }
    }

    .navbar__logo,
    .navbar__logo span {
      font-size: 20px;
    }

    nav {
      margin-left: 14px;

      a {
        font-size: 14px;
        text-align: center;
      }
    }
  }
}

.footer {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  background-color: rgba($whiteSmoke, 0.2);
  backdrop-filter: blur(10px);
  padding: 16px;

  &__helper-links {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    cursor: pointer;

    a {
      text-decoration: none;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
